body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(24, 24, 24);
  overscroll-behavior: none;
}

html {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(24, 24, 24);
  overscroll-behavior: none;
}

// Ensure no white space appears anywhere
html, body, #__next {
  min-height: 100vh;
  background-color: rgb(24, 24, 24);
}