.footerDiv {
    width: 100vw;
    background-color: rgb(18, 137, 235);
    height: 40vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
    .footerRight {
        .brandName {
            font-size: 6vh;
        }
    }
}