body {
    overflow-x: hidden;
    background-color: rgb(12, 12, 12);
}

::-webkit-scrollbar {
    display: none;
}

.divPadding {
    z-index: 0;
    display: block;
    opacity: 0;
    width: 0.00001px;
    background-color: transparent;
}