.projectsMainDiv {
    width: 100%;
    min-height: 70vh;
    height: auto;
    // background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .projectsTitle {
        font-size: 7.5vh;
        width: 100%;
        padding-left: 10vw;
        color: white;
        display: flex;
        text-align: left;
        float: left;
    }

    .projectsArea {
        color: white;
        height: 90%;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &Left {
            background-color: rgb(10, 10, 10);
            margin: 2vh 1vw 2vh 1vw;
            border-radius: 12.5px;
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .projectsSearchBar {
                width: 90%;
                height: 5vh;
                background-color: transparent;
                border-style: none;
                border-bottom: 1px solid white;
                border-radius: 12.5px 12.5px 0px 0px;
                margin: 1vh 1vw 1vh 1vw;
                font-size: 2.5vh;
                color: white;
                &:focus {
                    outline: none;
                }

                &::placeholder {
                    margin-left: 1vw;
                }
            }
        }

        &Right {
            background-color: rgb(10, 10, 10);
            margin: 2vh 1vw 2vh 1vw;
            border-radius: 12.5px;
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}