.resourceCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 1rem;
    background-color: gray;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;

    &:hover {
        transform: translateY(-0.5rem);
    }

    .image {
        margin: 1vw;
        width: auto;
        height: 12rem;
        border-radius: 1rem;
    }
}