.box {
  width: 20vw;
  height: 15vh;
  background-color: transparent;
  border-color: rgba(255,255,255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @for $i from 1 through 100 {
    &.animation-delay-#{$i} {
      animation: box-animation 0.3s ease-in-out #{$i * 0.25}s forwards;
    }
  }
}

.boxH1 {
  color: rgba(255,255,255, 1);
  font-size: 3vh;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
}

.box2 {
  width: 20vw;
  height: 15vh;
  background-color: transparent;
  border-color: rgba(255,255,255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @for $i from 1 through 100 {
    &.animation-delay-#{$i} {
      animation: box-animation2 0.2s ease-in-out #{$i * 0.25}s forwards;
    }
  }
}

@keyframes box-animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes box-animation2 {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}